body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}
.modal.visible {
    display: block; /* or block */
}
.modal {
    display: none;               /* hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 6px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Completed Task Rows*/
.row-current {
    background-color: #ffe6e6; /* soft pastel red */
}
/* Completed Task Rows*/
.row-monday {
    background-color: #e6fffa; /* mint */
}

.row-tuesday {
    background-color: #e8f0ff; /* soft blue */
}

.row-wednesday {
    background-color: #f3e8ff; /* lavender */
}

.row-thursday {
    background-color: #fff7e6; /* soft peach */
}

.row-friday {
    background-color: #e6fff2; /* light green */
}

.row-weekend {
    background-color: #f5f5f5; /* neutral gray */
}
