@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
.swal2-container {
    z-index: 99999 !important;
}
form.nostyle {
    display: contents;
    margin: 0;
    padding: 0;
}
